{
    "trailingComma": "none",
    "singleQuote": true,
    "tabWidth": 4,
    "overrides": [
        {
            "excludeFiles": ["jsconfig.json"],
            "files": ["*.json"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
